body{
    background-color: rgb(23, 129, 129);
    color: rgb(27, 201, 140);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 1000px;
    margin: auto;
    width: 90%;
    
} 
h1,h2,h3 {
    
    font-family:'Montserrat'; 
    text-align: center; 
 }
     
    
    figcaption {
    font-size: 20px;
    font-style: italic; 
}
    figure {
    text-align: center;
}
a{
    color: rgb(196, 238, 255);
}
header,footer {
  
    text-align: center;
}
p{
    font-size: medium;
}
footer {
    color: beige;
}